* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
video,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: #202020;
}

h1 {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

.svar-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.svar {
    padding: 2px 8px;
}
